@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.ourwork--animation-0{
    animation-name: fadeIn;
    animation-direction: normal;
    animation-duration: 800ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 400ms;
}
.ourwork--animation-1{
    animation-name: fadeIn;
    animation-direction: normal;
    animation-duration: 800ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 800ms;
}
/**/
@keyframes slideToRight{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    70%{
        transform: scale(1.2);
        opacity: 0.7;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.services-card--opacity-0{
    opacity: 0;
}

.services-card--animation-0{
    overflow-x: none;
    animation-name: slideToRight;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: both;
}
.services-card--animation-1{
    overflow-x: none;
    animation-name: slideToRight;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-delay: 500ms;
}
.services-card--animation-2{
    overflow-x: none;
    animation-name: slideToRight;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-delay: 1s;
}
/**/
@keyframes fadeInSlideUp{
    0%{
        transform: translateY(150px);
        opacity: 0;
    }
    50%{
        opacity: 0.3;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.card-opacity{
    opacity: 0;
}

.card--animation-0{
    animation-name: fadeInSlideUp;
    animation-iteration-count: 1;
    animation-duration: 700ms;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-delay: 400ms;
}

.card--animation-1{
    animation-name: fadeInSlideUp;
    animation-iteration-count: 1;
    animation-duration: 700ms;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-delay: 100ms;
}

.card--animation-2{
    animation-name: fadeInSlideUp;
    animation-iteration-count: 1;
    animation-duration: 700ms;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-delay: 400ms;
}

.card--animation-3{
    animation-name: fadeInSlideUp;
    animation-iteration-count: 1;
    animation-duration: 700ms;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-delay: 100ms;
}
/**/
@keyframes fadeInPopUp{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    40%{opacity: 0;}
    65%{
        transform: scale(0.6);
        opacity: 0.5;
    }
    75%{
        transform: scale(0.8);
        opacity: 0.7;
    }
    83%{
        transform: scale(1.3);
        opacity: 0.9;
    }
    87%{
        transform: scale(1.1);
    }
    90%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.team--animation{
    animation-name: fadeIn;
    animation-direction: normal;
    animation-duration: 600ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 100ms;
}

.team-block--animation-0{
    animation-name: fadeInPopUp;
    animation-iteration-count: 1;
    animation-duration: 1s;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.team-block--animation-1{
    animation-name: fadeInPopUp;
    animation-iteration-count: 1;
    animation-duration: 1200ms;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-delay: 150ms;
}

.team-block--animation-2{
    animation-name: fadeInPopUp;
    animation-iteration-count: 1;
    animation-duration: 1500ms;
    animation-direction: normal;
    animation-timing-function: ease;
    animation-fill-mode: both;
    animation-delay: 250ms;
}